<% include ./partials/header %>
<div class="ui main text container segment">
    <div class ="ui huge header">New Blog</div>
    <form method="post" action = "/blogs">
<input type="text" placeholder="title" name="blog[title]"></input><br></br>
<input type="text" placeholder="image" name="blog[image]"></input><br></br>
<input type="text" placeholder="body" name="blog[body]"></input><br></br>
<input type="text" placeholder="score" name="blog[score]"></input><br></br>
<input type="submit" placeholder="Submit" name="submit"></input><br></br>

    </form>
</div>

<% include ./partials/footer %>